<aside class="pr-16 border-r-2">
  <app-asideoptions
    imageUrl="../../../assets/images/clock.png"
    [routerLink]="['/settings']"
    text="General"
  ></app-asideoptions>
  <app-asideoptions
    imageUrl="../../../assets/images/clock.png"
    [routerLink]="['/settings/password']"
    text="Password"
  ></app-asideoptions>
  <app-asideoptions
    imageUrl="../../../assets/images/clock.png"
    [routerLink]="['/settings/quizzes']"
    text="My Quizzes"
  ></app-asideoptions>
  <app-asideoptions
    imageUrl="../../../assets/images/clock.png"
    text="Delete Account"
  ></app-asideoptions>
</aside>
