<div class="flex h-screen overflow-hidden px-4 md:px-0">
  <div class=" hidden md:absolute right-9 top-9 cursor-pointer" routerLink="/">Exit</div>
  <div class="hidden md:block w-[50%]">
    <img
      src="{{
        createAccount
          ? '../../../assets/images/register.png'
          : '../../../assets/images/login.png'
      }}"
      alt="login.img"
    />
  </div>
  <div
    class="absolute h-screen right-[400px] top-[50%]"
    *ngIf="isLoading"
    style="text-align: center"
  >
    <app-loader></app-loader>
  </div>
  <div class="w-full  md:w-[50%] flex flex-col justify-center md:items-center">
    <div>
      <h2 class="text-[39.81px] text-center font-extrabold mb-11">
        {{ createAccount ? "Create Account" : "Log in" }}
      </h2>
      <p *ngIf="!createAccount" class="text-[#A6A6A6] mb-10 text-center">
        New member?
        <span
          class="text-[#0267FF] cursor-pointer"
          (click)="onToggleCreateAccount()"
          >Sign Up</span
        >
      </p>
      <form
        class="text-[#A6A6A6] "
        [formGroup]="signupForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="" id="user-data">
          <div *ngIf="createAccount" class="flex flex-col mb-6">
            <label for="name" class="text-[19.2px] font-semibold mb-[8px]"
              >Name</label
            >
            <input
              type="text"
              id="name"
              formControlName="name"
              placeholder="John Doe"
              [disabled]="isLoading"
              class=" w-full lg:w-[300px] p-2 h-[40px] border border-[#999999] rounded-md"
            />
            <span
              *ngIf="
                !signupForm.get('username')?.valid &&
                signupForm.get('username')?.touched
              "
              class="text-red-500"
              >Username is required</span
            >
          </div>
          <div class="flex flex-col mb-6">
            <label for="email" class="text-[19.2px] font-semibold mb-[8px]"
              >E-mail</label
            >
            <input
              type="email"
              id="email"
              formControlName="email"
              placeholder="johndoe@gmail.com"
              [disabled]="isLoading"
              class="w-full lg:w-[300px] p-2 h-[40px] border border-[#999999] text-black rounded-md"
              [readonly]="isLoading"
            />
            <span
              *ngIf="
                !signupForm.get('email')?.valid &&
                signupForm.get('email')?.touched
              "
              class="text-red-500"
              >Please enter a valid email!</span
            >
          </div>

          <div class="flex flex-col mb-6">
            <label for="password" class="text-[19.2px] font-semibold mb-[8px]"
              >Password</label
            >
            <input
              type="password"
              id="password"
              formControlName="password"
              placeholder="**************"
              class="lg:w-[300px] p-2 h-[40px] border border-[#999999] text-black rounded-md"
              [readonly]="isLoading"
            />
            <span
              *ngIf="
                !signupForm.get('password')?.valid &&
                signupForm.get('password')?.touched
              "
              class="text-red-500"
              >Password is required</span
            >
          </div>
        </div>
        <div
          *ngIf="!createAccount"
          class="mb-6 flex justify-between items-center"
        >
          <div class="">
            <input type="checkbox" /><label for="" class="ml-2"
              >Remember me</label
            >
          </div>
          <p class="text-[#0267FF]">Forgot password?</p>
        </div>
        <button
          type="submit"
          class="w-full lg:w-[300px] p-2 h-[40px] bg-[#0267FF] rounded-md text-white mb-6 "
          [ngClass]="{ 'opacity-50': signupForm.invalid }"
          [disabled]="signupForm.invalid"
        >
          {{ createAccount ? "Create Account" : " Log in" }}
        </button>
        <div
          *ngIf="createAccount"
          class="mb-6 flex justify-between items-center"
        >
          <p>Already have an account?</p>
          <p
            class="text-[#0267FF] cursor-pointer"
            (click)="onToggleCreateAccount()"
          >
            Log in
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
