<app-header></app-header>
<app-herobar
[text]="'Profile'"
></app-herobar>
<div
  class="px-[70px] flex justify-between mb-[45px] border-b-gray-400 items-center"
>
  <div class="flex text-gray-300">
    Home <img src="../../assets/images/chevron_right.png" alt="" /> Profile
  </div>
  <div class="flex">
    <input
      type="text"
      placeholder="Search"
      class="lg:w-[300px] p-2 h-[40px] border border-gray-300 rounded"
    />
    <button class="bg-[#0267FF] rounded ml-2 text-white p-1 w-[80px] h-[40px]">
      Search
    </button>
  </div>
</div>
<div class="px-[70px]">
  <h3 class="text-[47.78px] font-semibold mb-[43px]">Hello John Doe</h3>
  <div class="flex justify-between items-center mb-[43px]">
    <app-card
      [headText]="'Quiz log'"
      [text]="'Review Your quiz results'"
      imgUrl="../../assets/images/quizlog.png"
    ></app-card>
    <app-card
      [bgColor]="'#0267FF'"
      [headText]="'Quizzes'"
      [text]="'Expand your knowledge'"
      imgUrl="../../assets/images/quiz.png"
    ></app-card>
    <app-card
      [bgColor]="'#0000CC'"
      [headText]="'100+ subjects'"
      [text]="'Challenge Your Knowledge'"
      imgUrl="../../assets/images/quiz3.png"
    ></app-card>
  </div>

  <div class="flex justify-between mb-7">
    <div class="w-[40%] p-4 border shadow-xl rounded-lg">
      <app-pie></app-pie>
    </div>
    <div class="w-[57%] p-4 border shadow-xl rounded-lg">
      <app-bar></app-bar>
    </div>
  </div>
  <div class="flex justify-between">
    <div class="w-[50%] h-4 pt-10">
     <app-calendar></app-calendar>
    </div>
    <div class="pt-10 w-[30%]">
      <div class="flex justify-between items-center mb-6">
        <p class="text-2xl font-semibold">Recent Quizzes</p>
        <p class="text-[#0267FF] cursor-pointer" routerLink="/quizzes">See All</p>
      </div>
      <div class="flex flex-wrap gap-y-7 justify-between items-center">
        <div>
          <div
            class="w-[172px] h-[240px] bg-quiz-cover bg-contain p-3 flex items-end rounded-lg mb-2"
          >
            <div
              class="bg-[#999999]/40 backdrop-blur-sm w-[157px] h-[69px] rounded-lg px-3 py-3 text-[white] text-[13px]"
            >
              <div class="flex mb-2">
                <img class="w-5" src="../../assets/images/clock.png" alt="" />
                <p class="ml-2">1 hour/60mins</p>
              </div>
              <div class="flex">
                <img src="../../assets/images/eye.png" alt="" />
                <p class="ml-3">4.2K</p>
              </div>
            </div>
          </div>
          <p class="font-bold mb-1">Master Html</p>
          <p class="font-normal mb-1 text-[#1D2939]">
            By Sarah Dawson <span></span>
          </p>
        </div>
        <div>
          <div
            class="w-[172px] h-[240px] bg-quiz-cover bg-contain p-3 flex items-end rounded-lg mb-2"
          >
            <div
              class="bg-[#999999]/40 backdrop-blur-sm w-[157px] h-[69px] rounded-lg px-3 py-3 text-[white] text-[13px]"
            >
              <div class="flex mb-2">
                <img class="w-5" src="../../assets/images/clock.png" alt="" />
                <p class="ml-2">1 hour/60mins</p>
              </div>
              <div class="flex">
                <img src="../../assets/images/eye.png" alt="" />
                <p class="ml-3">4.2K</p>
              </div>
            </div>
          </div>
          <p class="font-bold mb-1">Master Html</p>
          <p class="font-normal mb-1 text-[#1D2939]">
            By Sarah Dawson <span></span>
          </p>
        </div>
        <div>
          <div
            class="w-[172px] h-[240px] bg-quiz-cover bg-contain p-3 flex items-end rounded-lg mb-2"
          >
            <div
              class="bg-[#999999]/40 backdrop-blur-sm w-[157px] h-[69px] rounded-lg px-3 py-3 text-[white] text-[13px]"
            >
              <div class="flex mb-2">
                <img class="w-5" src="../../assets/images/clock.png" alt="" />
                <p class="ml-2">1 hour/60mins</p>
              </div>
              <div class="flex">
                <img src="../../assets/images/eye.png" alt="" />
                <p class="ml-3">4.2K</p>
              </div>
            </div>
          </div>
          <p class="font-bold mb-1">Master Html</p>
          <p class="font-normal mb-1 text-[#1D2939]">
            By Sarah Dawson <span></span>
          </p>
        </div>
        <div>
          <div
            class="w-[172px] h-[240px] bg-quiz-cover bg-contain p-3 flex items-end rounded-lg mb-2"
          >
            <div
              class="bg-[#999999]/40 backdrop-blur-sm w-[157px] h-[69px] rounded-lg px-3 py-3 text-[white] text-[13px]"
            >
              <div class="flex mb-2">
                <img class="w-5" src="../../assets/images/clock.png" alt="" />
                <p class="ml-2">1 hour/60mins</p>
              </div>
              <div class="flex">
                <img src="../../assets/images/eye.png" alt="" />
                <p class="ml-3">4.2K</p>
              </div>
            </div>
          </div>
          <p class="font-bold mb-1">Master Html</p>
          <p class="font-normal mb-1 text-[#1D2939]">
            By Sarah Dawson <span></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
