<div class="flex justify-center my-auto items-center">
  <div
    *ngIf="!isLoading"
    class="flex flex-col justify-center items-center w-[80%]"
  >
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChanged($event)"
    ></pagination-controls>
    <div class="flex justify-between mb-28 w-[100%]">
      <div class="w-[60%]">
        <div
          *ngFor="
            let question of allQuestions.questions
              | paginate
                : {
                    itemsPerPage: tableSize,
                    currentPage: pageNo,
                    totalItems: count
                  };
            let i = index
          "
        >
          <h1 class="mb-16">{{ page }}. {{ question.question }}</h1>
          <div class="grid grid-cols-2 gap-y-8 gap-x-28">
            <label
              *ngFor="let option of question.options"
              htmlFor="{{ option }}"
              class="flex justify-between px-4 py-2 border border-gray-300 rounded-[8px] w-full"
            >
              {{ option }}
              <input
                [(ngModel)]="selectedAnswers[question._id]"
                type="radio"
                id="{{ option }}"
                value="{{ option }}"
                [name]="'radioGroup_' + i"
                (change)="handleOptionChange(question._id, option)"
              />
            </label>
          </div>
        </div>
      </div>
      <div
        class="w-[97px] h-[39px] bg-gray-300 text-gray-100 flex justify-center items-center rounded-sm"
      >
        10 points
      </div>
    </div>
    <button
      (click)="getNextQuestion()"
      class="bg-[#0267FF] text-white text-center px-[14px] py-2 w-[181px]"
    >
      {{ this.handleButtonLabelChange() }}
    </button>
  </div>
  <div class=""><app-loader *ngIf="isLoading"></app-loader></div>
  <router-outlet></router-outlet>
</div>
